<form [formGroup]="form" (ngSubmit)="submit()" *ngIf="ticket | async; else wait">
    <h2>{{title}}</h2>

    Description: <input [attr.disabled]="!isAdd || null" type="text" formControlName="description" /><br /><br />

    Assignee:
    <select formControlName="assigneeId">
        <option *ngFor="let user of users|async" [value]="user.id">{{user.name}}</option>
    </select>
    <br /><br />

    <input type="checkbox" [attr.disabled]="isAdd || null" id="completed" formControlName="completed" />
    <label for="completed">completed</label>
    <br /><br />

    <button [attr.disabled]="isBusy || null" type="submit">Submit</button>
    &nbsp;<button [attr.disabled]="isBusy || null" routerLink="/">Cancel</button>
    <br />
    <span [hidden]="!isBusy">please wait...</span>
</form>

<ng-template #wait>
    please wait...
</ng-template>