<h2 *ngIf="isAdd">New Ticket</h2>
<h2 *ngIf="!isAdd">Ticket Details</h2>

Description: <input [attr.disabled]="!isAdd || null" type="text" [(ngModel)]="description"/><br /><br />

Assignee: 
<select [(ngModel)]="assigneeId">
  <option *ngFor="let user of users|async" [value]="user.id">{{user.name}}</option>
</select>
<br /><br />

<input type="checkbox" [attr.disabled]="isAdd || null" id="isCompleted" [(ngModel)]="isCompleted" />
<label for="isCompleted">completed</label>
<br /><br />

<button [attr.disabled]="isBusy || null" (click)="submit()">Submit</button>
&nbsp;<button [attr.disabled]="isBusy || null" routerLink="/">Cancel</button>
<br />
<span [hidden]="!isBusy">please wait...</span>